.grid{
  width: 502px;
  height:502px;
  border:1px solid rgba(0,0,0,.125);
}

.cell{
  width:25px;
  height:25px;
  border:1px solid rgba(0,0,0,.125);
  float:left;
}

.container{
  margin-top:20px;
}
